extends layout.pug
block content
    p Hi!
    p 
        | I'm just a random person on the internet.
    p(style='white-space:pre;')
        | Gemini capsule: 
        a(href='gemini://gemini.programmeruser.tk/') gemini://gemini.programmeruser.tk/
        |
        | Email: 
        a(href='mailto:programmeruser@programmeruser.tk')
        |
        | Github: programmeruser2
        | Replit: @programmeruser
        | Discord: programmeruser
    p
        | Like old websites? Try 
        a(href='https://classic.programmeruser.tk/') https://classic.programmeruser.tk/
    
