extends layout.pug
block content
    p Hi!
    p 
        | I'm just a random person on the internet.
        | You may want to check out my 
        a(href="https://blog.programmeruser.tk") blog
        | .
    
