extends layout.pug
block content
    p Hi!
    p 
        | I'm just a random person on the internet.
        | There's not much stuff here yet, maybe you may want to check out my 
        a(href="https://blog.programmeruser.tk") blog
        | ?
    p(style='white-space:pre;')
        | Gemini capsule: under construction!
        | Email: 
        a(href='mailto:programmeruser@programmeruser.tk')
        |
        | Github: programmeruser2
        | Twitter: @_programmeruser
        | Replit: @programmeruser
        | Snap! Cloud and Forums: programmeruser
        | Discord: programmer_user#7861
        | Mastodon: a(rel='me', href='https://techhub.social/@programmeruser') @programmeruser@techhub.social
    p
        | Like old websites? Try 
        a(href='https://classic.programmeruser.tk/') https://classic.programmeruser.tk/
    
